<div class="panel {% if package.abandoned %}panel-danger{% else %}panel-info{% endif %}">
    <div class="panel-heading">
        <h3 id="{{ package.highest.name }}" class="panel-title package-title">
            <a href="#{{ package.highest.name }}" class="anchor">
                <svg class="octicon-link" width="16" height="16">
                    <use xlink:href="#octicon-link"></use>
                </svg>
                {{ package.highest.name }}
            </a>
        </h3>

        {% if package.abandoned %}
        <p class="abandoned">
            <strong>Abandoned!</strong>
            Package is abandoned, you should avoid using it.
            {% if package.replacement %}
                Use {{ package.replacement }} instead.
            {% else %}
                No replacement was suggested.
            {% endif %}
        </p>
        {% endif %}

    </div>

    <div class="panel-body">
        {% if package.highest.description %}
        <p>{{ package.highest.description }}</p>
        {% endif %}

        {% if package.highest.keywords %}
        <div class="row">
            <div class="col-xs-2 text-xs-left text-sm-right"><strong>Keywords</strong></div>
            <div class="col-xs-12 col-sm-10">{{ package.highest.keywords|join(', ') }}</div>
        </div>
        {% endif %}

        {% if package.highest.homepage %}
        <div class="row">
            <div class="col-xs-2 text-xs-left text-sm-right"><strong>Homepage</strong></div>
            <div class="col-xs-12 col-sm-10"><a href="{{ package.highest.homepage }}">{{ package.highest.homepage }}</a></div>
        </div>
        {% endif %}

        {% if package.highest.license %}
        <div class="row">
            <div class="col-xs-2 text-xs-left text-sm-right"><strong>License</strong></div>
            <div class="col-xs-12 col-sm-10">{{ package.highest.license|join(', ') }}</div>
        </div>
        {% endif %}

        {% if package.highest.authors %}
        <div class="row">
            <div class="col-xs-2 text-xs-left text-sm-right"><strong>Authors</strong></div>
            <div class="col-xs-12 col-sm-10">
                {% for author in package.highest.authors %}
                {%- if author.homepage -%}
                <a href="{{ author.homepage }}">{{ author.name }}</a>
                {%- else -%}
                {{ author.name }}
                {%- endif -%}
                {%- if not loop.last -%}, {% endif -%}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if package.highest.support %}
        <div class="row">
            <div class="col-xs-2 text-xs-left text-sm-right"><strong>Support</strong></div>
            <div class="col-xs-12 col-sm-10">
                <ul>
                    {% for support_type, support_url in package.highest.support %}
                    <li>{{ support_type|capitalize }}: <a href="{{ support_url }}">{{ support_url }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-2 text-xs-left text-sm-right"><strong>Releases</strong></div>
            <div class="col-xs-12 col-sm-10">
                {% for version in package.versions %}
                {%- if version.distType -%}
                <a href="{{ version.distUrl }}" title="{{ version.distReference }}">{{ version.prettyVersion }}</a>
                {%- else -%}
                <a href="{{ version.sourceUrl }}" title="{{ version.sourceReference }}">{{ version.prettyVersion }}</a>
                {%- endif -%}
                {%- if not loop.last -%}, {% endif -%}
                {% endfor %}
            </div>
        </div>

        {% set package_dependencies = attribute(dependencies, name) %}
{#        {% if package_dependencies|length %}#}
{#        <div class="row">#}
{#            <div class="col-xs-2 text-xs-left text-sm-right"><strong>Required by</strong></div>#}
{#            <div class="col-xs-12 col-sm-10">#}
{#                <ul>#}
{#                    {% for dependency in package_dependencies %}#}
{#                    <li><a href="#{{ dependency }}">{{ dependency }}</a></li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#        {% endif %}#}
    </div>
</div>
